<h1>Welcome to <%= @restaurant.name %>!</h1>
<p> This is a <%= @restaurant.category %> restaurant located in <%= @restaurant.address %>! </p>
<div style="text-align: center"> <p class="btn btn-warning"><%= link_to "Please take me back 😢", restaurants_path %></p></div>
