/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "texts";

body {
  padding: 10px;
  height: 100%;
  background: linear-gradient(rgba(115, 226, 167, 0.4), rgba(236, 243, 158, 0.7));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgba(50, 50, 50, 0.9);
}
