.btn {
  a {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
}

a {
  color: rgba(60, 60, 60, 0.6);
  &:hover {
    text-decoration: none;
  }
}

h1, h3 {
  padding: 0px 0px 20px 0px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

h1 {
  font-size: 50px;
}

.btn-warning {
  width: 20%;
  margin: 10px 0px 0px 0px;
}

.btn-danger {
  width: 100%;
  margin: 10px 0px 20px 0px;
}

p {
  text-align: center;
  padding: 30px 0px;
}
